<script lang="ts">
  export let width: number = 20;
  export let direction: "up" | "down" = "down";
</script>

<svg
  {width}
  height={width}
  viewBox="0 0 512 512"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
>
  {#if direction === "up"}
    <path
      d="M82.7743 345.239C86.1917 348.651 90.2495 351.357 94.7157 353.203C99.182 355.05 103.969 356 108.804 356C113.638 356 118.425 355.05 122.892 353.203C127.358 351.357 131.416 348.651 134.833 345.239L247.341 233.026C249.641 230.732 252.76 229.443 256.013 229.443C259.266 229.443 262.385 230.732 264.685 233.026L377.168 345.239C384.068 352.126 393.428 355.996 403.189 355.999C412.95 356.001 422.311 352.135 429.215 345.252C436.118 338.368 439.998 329.03 440 319.293C440.002 309.556 436.127 300.217 429.227 293.33L316.719 181.092C308.746 173.137 299.28 166.827 288.862 162.521C278.444 158.216 267.277 156 256.001 156C244.724 156 233.558 158.216 223.14 162.521C212.721 166.827 203.255 173.137 195.282 181.092L82.7743 293.33C75.8755 300.214 72 309.55 72 319.285C72 329.019 75.8755 338.355 82.7743 345.239Z"
      class="fill-fgs3"
    />
  {:else}
    <path
      d="M429.226 166.761C425.808 163.349 421.751 160.643 417.284 158.797C412.818 156.95 408.031 156 403.196 156C398.362 156 393.575 156.95 389.108 158.797C384.642 160.643 380.584 163.349 377.167 166.761L264.659 278.974C262.359 281.268 259.24 282.557 255.987 282.557C252.734 282.557 249.615 281.268 247.315 278.974L134.832 166.761C127.932 159.874 118.572 156.004 108.811 156.001C99.0504 155.999 89.6887 159.865 82.7853 166.748C75.8819 173.632 72.0023 182.97 72 192.707C71.9977 202.444 75.8729 211.783 82.773 218.67L195.281 330.908C203.254 338.863 212.72 345.173 223.138 349.479C233.556 353.784 244.723 356 255.999 356C267.276 356 278.442 353.784 288.86 349.479C299.279 345.173 308.745 338.863 316.718 330.908L429.226 218.67C436.125 211.786 440 202.45 440 192.715C440 182.981 436.125 173.645 429.226 166.761Z"
      class="fill-fgs3"
    />
  {/if}
</svg>
