<script lang="ts">
  export let width: number = 50;
</script>

<svg
  {width}
  height={width}
  viewBox="0 0 512 512"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
>
  <g clip-path="url(#clip0_448_204)">
    <path
      d="M426.667 234.667V405.333C426.667 464.149 378.816 512 320 512H106.667C47.8507 512 0 464.149 0 405.333V192C0 133.184 47.8507 85.3333 106.667 85.3333H277.333C289.109 85.3333 298.667 94.8907 298.667 106.667C298.667 118.443 289.109 128 277.333 128H106.667C71.3813 128 42.6667 156.715 42.6667 192V405.333C42.6667 440.619 71.3813 469.333 106.667 469.333H320C355.285 469.333 384 440.619 384 405.333V234.667C384 222.891 393.557 213.333 405.333 213.333C417.109 213.333 426.667 222.891 426.667 234.667ZM448 0H298.667C286.891 0 277.333 9.55733 277.333 21.3333C277.333 33.1093 286.891 42.6667 298.667 42.6667H439.168L176.917 304.917C168.576 313.259 168.576 326.741 176.917 335.083C181.077 339.243 186.539 341.333 192 341.333C197.461 341.333 202.923 339.243 207.083 335.083L469.333 72.832V213.333C469.333 225.109 478.891 234.667 490.667 234.667C502.443 234.667 512 225.109 512 213.333V64C512 28.7147 483.285 0 448 0Z"
      class="fill-fgs1"
    />
  </g>
  <defs>
    <clipPath id="clip0_448_204">
      <rect width="512" height="512" fill="white" />
    </clipPath>
  </defs>
</svg>
